.primarybutton {
  background-color: rgba(0, 112, 243, 1);
}

.primarybutton:hover {
  background-color: rgba(39, 137, 249, 1);
}

.primarybutton:active {
  background-color: rgba(4, 105, 221, 1);
}

.secondarybutton {
  background-color: white;
  color: rgba(0, 112, 243, 1);
}

.secondarybutton:hover,
.secondaryDisabledButton {
  background-color: rgba(216, 234, 255, 1);
  color: rgba(0, 112, 243, 1);
}

.secondarybutton:active {
  background-color: rgba(207, 226, 247, 1);
}

.skewed {
  transform: skewX(8deg);
  overflow: hidden;
}

.unskewed {
  transform: skewX(-8deg);
}

.sideImage {
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  bottom: 0px;
  right: 0px;
}

.sideImageContainer {
  opacity: 0.75;
  transition: all 0.25s;
  position: relative;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
