:root {
  --top-spacing: 100px;
  --is-scroll-hidden: visible;
  --hide-header: visible;
}

body {
  overflow-y: var(--is-scroll-hidden);
}

html {
  scroll-padding-top: var(--top-spacing);
  margin: var(--top-spacing) auto;
  margin-bottom: -1 * var(--top-spacing);
}

.container {
  max-width: 80rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.blue {
  color: rgba(4, 105, 221, 1);
}

.bluebackground {
  background-color: rgba(4, 105, 221, 1);
}

.screenSize {
  min-height: 92vh;
}

.header {
  visibility: var(--hide-header);
  width: 100%;
  margin: 0 auto;
  position: fixed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 49;
}
